{% extends 'base.html' %}

 {% block content %}
 {% for video in videos %}
 
 <br />

<div class="row">
    <div class="col-sm-3">{{video.video_title}}</div>
    <div class="col-sm-6">
            {% if video.video_file %}
            <video oncontextmenu="return false;" id="my-video-player" width="450" height="250" controls controlsList="nodownload">
          <source src="{{video.video_file.url}}" type="video/mp4">
          </video>
           
            {% endif %}

    </div>
    <div class="col-sm-3"></div>
      </div>
<hr>
 {% endfor %}
 {% endblock %}